<script>
  (function() {
    // Creo un nuevo objeto para registrar un componente, generando un nuevo prototipo
    var elemento = Object.create(HTMLElement.prototype);

    // Defino una función callback para el instante del ciclo de vida "created"
    elemento.createdCallback = function() {
      console.log('Se ha creado un elemento');
    }

    // Defino una función callback para el instante del ciclo de vida "attached"
    elemento.attachedCallback = function() {
      console.log('Se ha añadido un elemento al DOM');
    }

    // Defino una función callback para el instante del ciclo de vida "datached"
    elemento.datachedCallback = function() {
      console.log('Se ha retirado un elemento del DOM');
    }

    // Defino una función callback para el instante del ciclo de vida "attribute changed"
    elemento.attributeChangedCallback = function(attr, oldVal, newVal) {
      console.log('Cambiado ', attr, ' al valor: ', newVal);
    }

    // Este es el código para registrar el componente, en el que indicamos el prototipo que acabamos de definir
    document.registerElement('ciclo-de-vida', {
      prototype: elemento
    });
  })();
</script>
