<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Template Simple</title>
  </head>
  <body>
    <template id="templatesimple">
      <style>
        h1 {
          color: red;
        }
        p {
          background-color: #DDD;
        }
      </style>

      <h1>Ciudades del mundo</h1>

      <template id="templateciudades">
        <p></p>
      </template>
    </template>
    
    <script>
      var ciudades = ["Madrid", "Barcelona", "Valencia"];

      var template = document.querySelector('#templatesimple').content;
      var p = template.querySelector('#templateciudades').content.querySelector('p');

      ciudades.forEach(function(ciudad) {
        var newP = p.cloneNode(true);
        newP.textContent = ciudad;
        template.appendChild(newP);
      });

      var clone = document.importNode(template, true);
      document.body.appendChild(clone);
    </script>
  </body>
</html>
